
<!-- 后台左侧导航 -->
<div id="sidebar" class="col-xs-12 col-sm-2 sidebar tab-content">
    <!-- 模块菜单 -->
    <nav class="navside navside-default" role="navigation">
        <ul class="nav navside-nav navside-first">
            <li><a data-toggle="collapse" href="#navside-collapse--1"><i class="fa fa-folder-open-o"></i><span class="nav-label">系统功能</span><span class="fa arrow"></span></a>
                <ul class="nav navside-nav navside-second collapse in" id="navside-collapse--1">
                    <li><a href="/index.php/Admin/Config/group.html" ><i class="fa fa-wrench"></i><span class="nav-label">通知公告</span></a></li>
                    <li><a href="/index.php/Admin/Nav/index.html" ><i class="fa fa-map-signs"></i><span class="nav-label">友情链接</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">上传管理</span></a></li>
                </ul>
            </li>

            <li><a data-toggle="collapse" href="#navside-collapse--1"><i class="fa fa-folder-open-o"></i><span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav navside-nav navside-second collapse in" id="navside-collapse--1">
                    <li><a href="/index.php/Admin/Config/group.html" ><i class="fa fa-wrench"></i><span class="nav-label">管理员管理</span></a></li>
                    <li><a href="/index.php/Admin/Nav/index.html" ><i class="fa fa-map-signs"></i><span class="nav-label">用户设置</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">用户统计</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">用户列表</span></a></li>
                </ul>
            </li>

            <li><a data-toggle="collapse" href="#navside-collapse--1"><i class="fa fa-folder-open-o"></i><span class="nav-label">审核管理</span><span class="fa arrow"></span></a>
                <ul class="nav navside-nav navside-second collapse in" id="navside-collapse--1">
                    <li><a href="/index.php/Admin/Config/group.html" ><i class="fa fa-wrench"></i><span class="nav-label">审核查看</span></a></li>
                    <li><a href="/index.php/Admin/Nav/index.html" ><i class="fa fa-map-signs"></i><span class="nav-label">已通过申请</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">未通过申请</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">无效申请</span></a></li>
                </ul>
            </li>

            <li><a data-toggle="collapse" href="#navside-collapse--1"><i class="fa fa-folder-open-o"></i><span class="nav-label">学分管理</span><span class="fa arrow"></span></a>
                <ul class="nav navside-nav navside-second collapse in" id="navside-collapse--1">
                    <li><a href="/index.php/Admin/Config/group.html" ><i class="fa fa-wrench"></i><span class="nav-label">已获得学分</span></a></li>
                    <li><a href="/index.php/Admin/Nav/index.html" ><i class="fa fa-map-signs"></i><span class="nav-label">未获得学分</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">学分分类</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">学分配置</span></a></li>
                </ul>
            </li>

            <li><a data-toggle="collapse" href="#navside-collapse--1"><i class="fa fa-folder-open-o"></i><span class="nav-label">操作记录</span><span class="fa arrow"></span></a>
                <ul class="nav navside-nav navside-second collapse in" id="navside-collapse--1">
                    <li><a href="/index.php/Admin/Config/group.html" ><i class="fa fa-wrench"></i><span class="nav-label">管理员记录</span></a></li>
                    <li><a href="/index.php/Admin/Nav/index.html" ><i class="fa fa-map-signs"></i><span class="nav-label">用户记录</span></a></li>
                    <li><a href="/index.php/Admin/Upload/index.html" ><i class="fa fa-upload"></i><span class="nav-label">审核记录</span></a></li>
                </ul>
            </li>

        </ul>
    </nav>
</div>

