<!DOCTYPE html>
<html lang="en" class="is-copy-enabled">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <meta content="origin-when-cross-origin" name="referrer" />

    <link rel="stylesheet" href="{$Think.config.__HOME_CSS__}/frameworks.css" type="text/css"/>
    <link rel="stylesheet" href="{$Think.config.__HOME_CSS__}/github.css" type="text/css"/>
    <link rel="stylesheet" href="{$Think.config.__HOME_CSS__}/site.css" type="text/css"/>

    <title>Join GitHub · GitHub</title>
</head>

<body class="logged-out env-production windows signup">

    <block name="header-content">
    </block>

    <block name="main-content">
    </block>

    <block name="footer-content">
    </block>

</body>
</html>







