<extend name="$layout_login"/>

<block name="container">
    <!-- 登陆框 -->
    <div class="panel-lite" style="width: 420px;">
        <h1 style="text-align: center;"><a  href="{:C('HOME_PAGE')}">安徽工业大学</a></h1>
        <h1><a href="{:C('HOME_PAGE')}">大学生创新学分审核系统</a></h1>
        <form class="login-form" action="{:U('Public/login')}" method="post">
            <div class="form-group">
                <input type="text" required="required" maxlength="9" class="form-control" name="username" placeholder="学号/工号">
            </div>
            <div class="form-group">
                <input type="password" required="required" class="form-control" name="password" placeholder="密码">
            </div>
            <a class="label-link" href="{:C('HOME_PAGE')}">忘记密码 ? </a>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" style="float: left;" required="required" class="col-sm-4 form-control" name="verify" placeholder="验证码">
                    <span class="input-group-addon verifyimg-box" style="display: table-cell;padding-left:60px;">
                        <img class="verifyimg ad-verify" alt="验证码" src="{:U('Public/verify')}" title="点击刷新">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" tabindex="3" type="submit" value="登 录" />
            </div>
        </form>
        <p class="create-account-callout mt-3">
            新来的？
            <a href="register">创建一个账户</a>.
        </p>
        <div class="label-link" style="padding-top:15px;">
            <a style="text-align: right;" href="http://down.tech.sina.com.cn/page/40975.html">我们强烈推荐使用Chrome浏览器</a>
        </div>
    </div>
</block>