<extend name="$_admin_public_layout"/>
<block name="right-container">
    <!-- 右侧内容 -->
    <div id="main" class="col-xs-12 col-sm-10 main">
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted"><a href="index">首页</a></li>
            <li>用户列表</li>
        </ul>

        <div>
            <volist name='lists' id='vo'>
                <li> {$vo.user_name}</li>
            </volist>
        </div>
        <notempty name="page">
            <ul class="pagination">{$page}</ul>
        </notempty>

    </div>
</block>
