
<div role="main" class="main-content">

    <div id="js-pjax-container" data-pjax-container>
        <div class="page-content container">
            <div class="columns">
                <div class="column three-fourths">
                    <!-- Public Profile -->
                    <div class="boxed-group">
                        <h3>Public profile</h3>
                        <div class="boxed-group-inner clearfix">
                            <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/users/hujun123qwe" class="columns js-uploadable-container js-upload-avatar-image is-default" data-alambic-owner-id="8892333" data-alambic-owner-type="User" data-form-nonce="a72e0f5926cb45d14c89118f095d5c9feef8760b" data-upload-policy-url="/upload/policies/avatars" id="profile_8892333" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="Hmz7yjelwuRPPABBMDYRzTTrYTZEAVpMy4mdYSO6gcwtzPhsC/NKSMP1VnOOGCbYTE0+FkoBf4wu0jB78Bo8Sw==" /></div>

                            <div class="column two-thirds">
                                <dl class="form-group edit-profile-avatar">
                                    <dt><label for="upload-profile-picture">Profile picture</label></dt>
                                    <dd class="avatar-upload-container clearfix">
                                        <img alt="@hujun123qwe" class="avatar left" height="70" src="https://avatars0.githubusercontent.com/u/8892333?v=3&amp;s=140" width="70" />
                                        <div class="avatar-upload">
                                            <a href="#" class="btn button-change-profile-picture">
                                                <label for="upload-profile-picture">
                                                    Upload new picture
                                                    <input id="upload-profile-picture" type="file" class="manual-file-chooser js-manual-file-chooser js-avatar-field">
                                                </label>
                                            </a>

                                            <div class="upload-state default">
                                                <p>You can also drag and drop a picture from your computer.</p>
                                            </div>

                                            <div class="upload-state loading">
                                                <button class="btn" disabled>
                                                    <img alt="" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16" /> Uploading...
                                                </button>
                                            </div>

                                            <div class="upload-state text-danger file-empty">
                                                This file is empty.
                                            </div>

                                            <div class="upload-state text-danger too-big">
                                                Please upload a picture smaller than 1 MB.
                                            </div>

                                            <div class="upload-state text-danger bad-dimensions">
                                                Please upload a picture smaller than 10,000x10,000.
                                            </div>

                                            <div class="upload-state text-danger bad-file">
                                                Unfortunately, we only support PNG, GIF, or JPG pictures.
                                            </div>

                                            <div class="upload-state text-danger failed-request">
                                                Something went really wrong and we can’t process that picture.
                                            </div>
                                        </div> <!-- /.avatar-upload -->
                                    </dd>
                                </dl>

                                <dl class="form-group">
                                    <dt><label for="user_profile_name">Name</label></dt>
                                    <dd><input class="form-control" id="user_profile_name" name="user[profile_name]" size="30" type="text" value="胡军" /></dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_email">Public email</label></dt>
                                    <dd>
                                        <select class="form-select select" id="user_profile_email" name="user[profile_email]"><option value="">Don’t show my email address</option>
                                            <option value="JuneHuChina@outlook.com">JuneHuChina@outlook.com</option>
                                            <option value="hujun123qwe@163.COM" selected="selected">hujun123qwe@163.COM</option></select>
                                        <p class="note">You can add or remove verified email addresses in your <a href="/settings/emails">personal email settings</a>.</p>
                                    </dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_blog">URL</label></dt>
                                    <dd><input class="form-control" id="user_profile_blog" name="user[profile_blog]" size="30" type="url" value="http://me.hujun.ren" /></dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_company">Company</label></dt>
                                    <dd>
                                        <input class="form-control" id="user_profile_company" name="user[profile_company]" size="30" type="text" value="ploverUAV" />
                                    </dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_location">Location</label></dt>
                                    <dd><input class="form-control" id="user_profile_location" name="user[profile_location]" size="30" type="text" value="Anhui Maanshan" /></dd>
                                </dl>
                                <p><button type="submit" class="btn btn-primary">Update profile</button></p>
                            </div>
                        </form>        <p class="note">
                            We store your personal data in the United States. See our <a href="https://github.com/site/privacy">privacy policy</a> for more information.
                        </p>
                        </div>
                    </div>



                </div>
            </div>
        </div>


    </div>
    <div class="modal-backdrop"></div>
</div>

<div class="container site-footer-container">
    <div class="site-footer" role="contentinfo">
        <ul class="site-footer-links right">
            <li><a href="https://status.github.com/" data-ga-click="Footer, go to status, text:status">Status</a></li>
            <li><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a></li>
            <li><a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>
            <li><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a></li>
            <li><a href="https://github.com/blog" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
            <li><a href="https://github.com/about" data-ga-click="Footer, go to about, text:about">About</a></li>

        </ul>

        <a href="https://github.com" aria-label="Homepage" class="site-footer-mark" title="GitHub">
            <svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1" viewBox="0 0 16 16" width="24"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
        </a>
        <ul class="site-footer-links">
            <li>&copy; 2016 <span title="0.05390s from github-fe120-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
            <li><a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="https://github.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
            <li><a href="https://github.com/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
            <li><a href="https://github.com/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
            <li><a href="https://help.github.com" data-ga-click="Footer, go to help, text:help">Help</a></li>
        </ul>
    </div>
</div>





<div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M15.72 12.5l-6.85-11.98C8.69 0.21 8.36 0.02 8 0.02s-0.69 0.19-0.87 0.5l-6.85 11.98c-0.18 0.31-0.18 0.69 0 1C0.47 13.81 0.8 14 1.15 14h13.7c0.36 0 0.69-0.19 0.86-0.5S15.89 12.81 15.72 12.5zM9 12H7V10h2V12zM9 9H7V5h2V9z"></path></svg>
    <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
        <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
    </button>
    Something went wrong with that request. Please try again.
</div>



<script crossorigin="anonymous" integrity="sha256-52zkLOd8k0WG98rL4k1Vbb5v79votTo5NkSxgZn3wpE=" src="https://assets-cdn.github.com/assets/frameworks-e76ce42ce77c934586f7cacbe24d556dbe6fefdbe8b53a393644b18199f7c291.js"></script>
<script async="async" crossorigin="anonymous" integrity="sha256-NANhFHarpUSfevcS2/e0iLu1UuCj6TxV02wFj+eWi0Y=" src="https://assets-cdn.github.com/assets/github-3403611476aba5449f7af712dbf7b488bbb552e0a3e93c55d36c058fe7968b46.js"></script>






<div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner hidden">
    <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M15.72 12.5l-6.85-11.98C8.69 0.21 8.36 0.02 8 0.02s-0.69 0.19-0.87 0.5l-6.85 11.98c-0.18 0.31-0.18 0.69 0 1C0.47 13.81 0.8 14 1.15 14h13.7c0.36 0 0.69-0.19 0.86-0.5S15.89 12.81 15.72 12.5zM9 12H7V10h2V12zM9 9H7V5h2V9z"></path></svg>
    <span class="signed-in-tab-flash">You signed in with another tab or window. <a href="">Reload</a> to refresh your session.</span>
    <span class="signed-out-tab-flash">You signed out in another tab or window. <a href="">Reload</a> to refresh your session.</span>
</div>
<div class="facebox" id="facebox" style="display:none;">
    <div class="facebox-popup">
        <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
        </div>
        <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
            <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
        </button>
    </div>
</div>

</body>
</html>
