<body class="logged-in   env-production windows  page-account">
<div role="main" class="main-content">
    <div id="js-pjax-container" data-pjax-container>
        <div class="page-content container">
            <div class="columns">
                <div class="column one-fourth" role="navigation">
                    <nav class="menu" data-pjax>
                        <h3 class="menu-heading">
                            Personal settings
                        </h3>

                        <a href="/settings/profile" aria-selected="true" class="js-selected-navigation-item selected menu-item" data-selected-links="avatar_settings /settings/profile">Profile</a>
                        <a href="/settings/admin" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/admin">Account</a>


                        <a href="/settings/emails" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/emails">
                            Emails
                        </a>
                        <a href="/settings/notifications" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/notifications">Notifications</a>

                        <a href="/settings/billing" class="js-selected-navigation-item menu-item" data-selected-links="user_billing_settings /settings/billing">Billing</a>

                        <a href="/settings/keys" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/keys">SSH and GPG keys</a>

                        <a href="/settings/security" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/security">Security</a>

                        <a href="/settings/applications" class="js-selected-navigation-item menu-item" data-selected-links="applications_settings settings_user_authorized_apps settings_user_developer_applications /settings/applications">OAuth applications</a>
                        <a href="/settings/tokens" class="js-selected-navigation-item menu-item" data-selected-links="oauth_tokens /settings/tokens">Personal access tokens</a>
                        <a href="/settings/repositories" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/repositories">Repositories</a>
                        <a href="/settings/organizations" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/organizations">Organizations</a>
                        <a href="/settings/replies" class="js-selected-navigation-item menu-item" data-selected-links="edit_saved_reply /settings/replies">Saved replies</a>

                    </nav>
                </div>

                <div class="column three-fourths">
                    <!-- Public Profile -->
                    <div class="boxed-group">
                        <h3>Public profile</h3>
                        <div class="boxed-group-inner clearfix">
                            <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/users/hujun123qwe" class="columns js-uploadable-container js-upload-avatar-image is-default" data-alambic-owner-id="8892333" data-alambic-owner-type="User" data-form-nonce="a72e0f5926cb45d14c89118f095d5c9feef8760b" data-upload-policy-url="/upload/policies/avatars" id="profile_8892333" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="CX2+KIdksFt/AuDJ5VkH2QtO5IV5yVBw1RdEtRMeF+MOtv6MjKPcl9BPe5TZr4U1U3lbDavrly9UpBBqIofQiA==" /></div>

                            <div class="column two-thirds">
                                <dl class="form-group edit-profile-avatar">
                                    <dt><label for="upload-profile-picture">Profile picture</label></dt>
                                    <dd class="avatar-upload-container clearfix">
                                        <img alt="@hujun123qwe" class="avatar left" height="70" src="https://avatars0.githubusercontent.com/u/8892333?v=3&amp;s=140" width="70" />
                                        <div class="avatar-upload">
                                            <a href="#" class="btn button-change-profile-picture">
                                                <label for="upload-profile-picture">
                                                    Upload new picture
                                                    <input id="upload-profile-picture" type="file" class="manual-file-chooser js-manual-file-chooser js-avatar-field">
                                                </label>
                                            </a>

                                            <div class="upload-state default">
                                                <p>You can also drag and drop a picture from your computer.</p>
                                            </div>

                                            <div class="upload-state loading">
                                                <button class="btn" disabled>
                                                    <img alt="" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16" /> Uploading...
                                                </button>
                                            </div>

                                            <div class="upload-state text-danger file-empty">
                                                This file is empty.
                                            </div>

                                            <div class="upload-state text-danger too-big">
                                                Please upload a picture smaller than 1 MB.
                                            </div>

                                            <div class="upload-state text-danger bad-dimensions">
                                                Please upload a picture smaller than 10,000x10,000.
                                            </div>

                                            <div class="upload-state text-danger bad-file">
                                                Unfortunately, we only support PNG, GIF, or JPG pictures.
                                            </div>

                                            <div class="upload-state text-danger failed-request">
                                                Something went really wrong and we can’t process that picture.
                                            </div>
                                        </div> <!-- /.avatar-upload -->
                                    </dd>
                                </dl>

                                <dl class="form-group">
                                    <dt><label for="user_profile_name">Name</label></dt>
                                    <dd><input class="form-control" id="user_profile_name" name="user[profile_name]" size="30" type="text" value="胡军" /></dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_email">Public email</label></dt>
                                    <dd>
                                        <select class="form-select select" id="user_profile_email" name="user[profile_email]"><option value="">Don’t show my email address</option>
                                            <option value="JuneHuChina@outlook.com">JuneHuChina@outlook.com</option>
                                            <option value="hujun123qwe@163.COM" selected="selected">hujun123qwe@163.COM</option></select>
                                        <p class="note">You can add or remove verified email addresses in your <a href="/settings/emails">personal email settings</a>.</p>
                                    </dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_bio">Bio</label></dt>
                                    <dd class="user-profile-bio-field-container js-user-profile-bio-container js-suggester-container">
                <textarea class="form-control user-profile-bio-field js-suggester-field js-user-profile-bio" cols="40" data-bio-label="remaining" data-max-length="160" id="user_profile_bio" name="user[profile_bio]" placeholder="Tell a little about yourself" rows="20">
</textarea>
                                        <p class="user-profile-help-text">
                                            You can <strong>@mention</strong> other users and
                                            organizations to link to them.
                                        </p>
                                        <p class="js-user-profile-bio-message user-profile-bio-message hidden"></p>
                                        <div class="suggester-container">
                                            <div class="suggester js-suggester js-navigation-container"
                                                 data-url="/autocomplete/user-suggestions">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_blog">URL</label></dt>
                                    <dd><input class="form-control" id="user_profile_blog" name="user[profile_blog]" size="30" type="url" value="http://me.hujun.ren" /></dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_company">Company</label></dt>
                                    <dd class="user-profile-company-field-container js-suggester-container">
                                        <input autocomplete="off" class="form-control js-suggester-field" id="user_profile_company" name="user[profile_company]" size="30" type="text" value="ploverUAV" />
                                        <p class="user-profile-help-text">
                                            You can <strong>@mention</strong> your company's GitHub
                                            organization to link it.
                                        </p>
                                        <div class="suggester-container">
                                            <div class="suggester js-suggester js-navigation-container"
                                                 data-url="/autocomplete/organizations">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="form-group">
                                    <dt><label for="user_profile_location">Location</label></dt>
                                    <dd><input class="form-control" id="user_profile_location" name="user[profile_location]" size="30" type="text" value="Anhui Maanshan" /></dd>
                                </dl>
                                <p><button type="submit" class="btn btn-primary">Update profile</button></p>
                            </div>
                        </form>        <p class="note">
                            We store your personal data in the United States. See our <a href="https://github.com/site/privacy">privacy policy</a> for more information.
                        </p>
                        </div>
                    </div>

                    <div class="boxed-group clearfix">
                        <h3>Contributions</h3>
                        <div class="boxed-group-inner">
                            <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/users/hujun123qwe/set_private_contributions_preference" class="edit_user" data-form-nonce="a72e0f5926cb45d14c89118f095d5c9feef8760b" id="user_profile_contributions_8892333" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="QiCunfRmK6f1/3/RhDvTm9Q9jGTIu5KhuXw89LPVWP4zKOT5uNfeXsYV6TS7Vy+T5+HOLNXkXw/mmkVb5JeSUA==" /></div>
                            <p class="checkbox">
                                <input name="user[show_private_contribution_count]" type="hidden" value="0" /><input checked="checked" id="user_show_private_contribution_count" name="user[show_private_contribution_count]" type="checkbox" value="1" />
                                <label for="user_show_private_contribution_count">Include private contributions on my profile</label>
                            </p>
                            <p>
                                Get credit for all your work by showing the number of contributions to
                                private repositories on your profile without any repository or
                                organization information. <a href="https://help.github.com/articles/viewing-contributions-on-your-profile-page/">Learn how we count contributions</a>.
                            </p>
                            <p><button type="submit" class="btn btn-primary">Update contributions</button></p>
                        </form>    </div>
                    </div>

                    <!-- GitHub Developer Program Membership -->
                    <div id="github-developer-program" class="boxed-group clearfix">
                        <h3>GitHub Developer Program</h3>
                        <div class="boxed-group-inner">
                            <p>
                                Building an application, service, or tool that integrates with GitHub?
                                <a href="/developer/register?account=hujun123qwe">Join the GitHub Developer Program</a>,
                                or read more about it at our <a href="https://developer.github.com">Developer site</a>.
                            </p>

                        </div>
                    </div>


                    <!-- Jobs Profile -->
                    <div class="boxed-group clearfix">
                        <h3>Jobs profile</h3>
                        <div class="boxed-group-inner">
                            <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/users/hujun123qwe" class="edit_user" data-form-nonce="a72e0f5926cb45d14c89118f095d5c9feef8760b" id="jobs_profile_8892333" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="XvIm24EVwwIRX1eyUzhtp8oO/g2CeNN9G19yOav04HZvx0ULHswQdx3+CcZLRJ1fcVSERJfFHtyj1C1t516Ffw==" /></div>
                            <p class="checkbox">
                                <input name="user[profile_hireable]" type="hidden" value="0" /><input id="user_profile_hireable" name="user[profile_hireable]" tabindex="3" type="checkbox" value="1" />
                                <label for="user_profile_hireable">Available for hire</label>
                            </p>

                            <p>
                                <span class="success" style="display: none"><svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg> Saved</span>
                                <button class="btn btn-primary" tabindex="4">Save jobs profile</button>
                            </p>
                        </form>      </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

</div>

</body>
</html>
