<extend name="$layout_admin"/>

<block name="right-content">
<div class="columns">
    <div class="single-column">
        <div class="boxed-group flush">
            <h3>学生管理</h3>
            <ul class="boxed-group-inner mini-repo-list">
                <li class="public source">
                    <table class="capped-list">
                        <thead><tr><th>#</th><th>编号</th><th>姓名名</th><th>学号</th><th>学院</th><th>班级</th><th>手机号码</th><th>注册时间</th><th>操作</th></tr></thead>
                        <tbody>
                        <volist name="lists" id="vo" key="k">
                            <tr>
                                <td>{$k}</td>
                                <td>{$vo.user_id}</td>
                                <td>{$vo.user_name}</td>
                                <td>{$vo.student_id}</td>
                                <td>{$vo.academy}</td>
                                <td>{$vo.iclass}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.add_time|date="y-m-d",###}</td>
                                <td><a href="edit_student_pro?user_id_student={$vo.user_id}">编辑</a>&nbsp;
                                    <a href="delete_student?user_id={$vo.user_id}">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <notempty name="page">
                        <ul class="pagination">{$page}</ul>
                    </notempty>
                </li>
                </ul>
            </div>
        </div>
    </div>
</block>