@font-face {
	font-family: Roboto;
	src: local("Roboto Light"), local("Roboto-Light"), url(/static/fonts/roboto/roboto-light.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto"), local("Roboto-Regular"), url(/static/fonts/roboto/roboto-regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(/static/fonts/roboto/roboto-medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Italic"), local("Roboto-Italic"), url(/static/fonts/roboto/roboto-italic.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
hr {
	border-bottom-color: rgb(238, 238, 238);
}
.img-responsive {
	width: 100%; height: auto; display: block; max-width: 100%;
}
.video-responsive {
	height: 0px; overflow: hidden; padding-bottom: 56.25%; position: relative; max-width: 100%;
}
.video-responsive iframe {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video-responsive object {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video-responsive embed {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.page-responsive {
	min-width: 0px;
}
.page-responsive .column {
	padding-right: 20px; padding-left: 20px;
}
.page-responsive .columns {
	margin-right: -20px; margin-left: -20px;
}
.container-responsive {
	margin-right: auto; margin-left: auto; max-width: 980px;
}
.page-responsive .container-responsive {
	padding-right: 20px; padding-left: 20px; margin-right: auto; margin-left: auto; max-width: 1020px;
}
@media all and (min-width:450px)
{
.page-responsive .container-responsive {
	padding-right: 40px; padding-left: 40px;
}
}
@media all and (min-width:992px)
{
.page-responsive .container-responsive {
	padding-right: 20px; padding-left: 20px;
}
}
@media all and (max-width:759px)
{
.container-responsive .column {
	width: 100%; float: none; display: block;
}
}
@media all and (min-width:760px)
{
.columns-reverse .column {
	float: right;
}
}
@media all and (min-width:992px)
{
.column-spacious-right {
	padding-right: 80px !important;
}
}
.columns-vertically-centered .column {
	text-align: center; margin-top: 20px;
}
@media all and (min-width:760px)
{
.columns-vertically-centered {
	display: table; table-layout: fixed;
}
.columns-vertically-centered .column {
	text-align: left; margin-top: 0px; vertical-align: middle; float: none; display: table-cell;
}
.columns-vertically-centered.columns-reverse {
	direction: rtl;
}
.columns-vertically-centered.columns-reverse .column {
	direction: ltr;
}
}
.homepage-hero-intro {
	width: 60%;
}
@media all and (min-width:760px)
{
.homepage-hero-intro {
	padding-right: 60px;
}
}
@media all and (min-width:992px)
{
.homepage-hero-intro {
	width: 65%;
}
}
.homepage-hero-signup {
	width: 40%;
}
@media all and (min-width:992px)
{
.homepage-hero-signup {
	width: 35%;
}
}
.homepage-hero-signup .form .form-control {
	width: 100%;
}
.home-hero {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.jumbotron {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.jumbotron-followup-container {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.featurette {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.site-header {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.site-subheader {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.tile {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: 16px;
}
.display-heading-1 {
	font-size: 36px; font-weight: 300;
}
@media all and (min-width:760px)
{
.display-heading-1 {
	font-size: 48px;
}
}
@media all and (min-width:992px)
{
.display-heading-1 {
	font-size: 54px;
}
}
.display-heading-2 {
	font-size: 28px; font-weight: 300;
}
@media all and (min-width:760px)
{
.display-heading-2 {
	font-size: 34px;
}
}
@media all and (min-width:992px)
{
.display-heading-2 {
	font-size: 38px;
}
}
.display-heading-3 {
	font-size: 18px; font-weight: 400;
}
@media all and (min-width:760px)
{
.display-heading-3 {
	font-size: 20px;
}
}
@media all and (min-width:992px)
{
.display-heading-3 {
	font-size: 22px;
}
}
.display-heading-4 {
	font-size: 16px; font-weight: 500;
}
.display-intro {
	line-height: 1.4; font-size: 20px; font-weight: 300; margin-bottom: 40px;
}
@media all and (min-width:760px)
{
.display-intro {
	font-size: 24px;
}
}
@media all and (min-width:992px)
{
.display-intro {
	font-size: 26px;
}
}
.display-body-sm {
	font-size: 14px;
}
.display-intro {
	margin-top: 0px; -webkit-font-smoothing: antialiased;
}
.display-heading-1 {
	margin-top: 0px; -webkit-font-smoothing: antialiased;
}
.display-heading-2 {
	margin-top: 0px; -webkit-font-smoothing: antialiased;
}
.display-heading-3 {
	margin-top: 0px; -webkit-font-smoothing: antialiased;
}
.display-heading-4 {
	margin-top: 0px; -webkit-font-smoothing: antialiased;
}
.display-heading-1 {
	color: rgb(60, 65, 70); margin-bottom: 0.25em;
}
.display-heading-2 {
	color: rgb(60, 65, 70); margin-bottom: 0.25em;
}
.display-heading-3 {
	color: rgb(60, 65, 70); margin-bottom: 0.25em;
}
.display-heading-4 {
	color: rgb(60, 65, 70); margin-bottom: 0.25em;
}
.display-heading-1 {
	line-height: 1.15;
}
.display-heading-2 {
	line-height: 1.15;
}
.display-heading-3 {
	line-height: 1.4;
}
.display-heading-4 {
	line-height: 1.4;
}
.pullquote {
	color: rgb(118, 118, 118); line-height: 1.4; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 16px; margin-bottom: 24px;
}
@media all and (min-width:760px)
{
.pullquote {
	line-height: 1.5; font-size: 18px; margin-bottom: 36px;
}
}
.casestudy-head h1 {
	font-size: 36px; font-weight: 300;
}
@media all and (min-width:760px)
{
.casestudy-head h1 {
	font-size: 48px;
}
}
@media all and (min-width:992px)
{
.casestudy-head h1 {
	font-size: 54px;
}
}
.casestudy-head p {
	line-height: 1.4; font-size: 20px; font-weight: 300; margin-bottom: 40px;
}
@media all and (min-width:760px)
{
.casestudy-head p {
	font-size: 24px;
}
}
@media all and (min-width:992px)
{
.casestudy-head p {
	font-size: 26px;
}
}
.casestudy-facts ul {
	list-style: none; margin: 0px; padding: 0px;
}
.casestudy-facts li {
	padding-top: 12px; padding-bottom: 12px; font-size: 14px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.casestudy-facts li:last-child {
	margin-bottom: 0px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.casestudy-body > p {
	line-height: 1.6; margin-bottom: 24px;
}
.casestudy-body > p:first-child {
	color: rgb(60, 65, 70); line-height: 1.4; font-size: 20px; font-weight: 300; margin-bottom: 24px;
}
@media all and (min-width:760px)
{
.casestudy-body > p:first-child {
	font-size: 24px;
}
}
@media all and (min-width:992px)
{
.casestudy-body > p:first-child {
	font-size: 26px;
}
}
.casestudy-body h2 {
	color: rgb(60, 65, 70); line-height: 1.4; font-size: 18px; font-weight: 400; margin-bottom: 0.25em;
}
@media all and (min-width:760px)
{
.casestudy-body h2 {
	font-size: 20px;
}
}
@media all and (min-width:992px)
{
.casestudy-body h2 {
	font-size: 22px;
}
}
.casestudy-body blockquote {
	color: rgb(118, 118, 118); line-height: 1.4; padding-top: 0px; padding-bottom: 0px; padding-left: 12px; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 16px; margin-bottom: 24px; border-left-color: rgb(229, 229, 229); border-left-width: 3px; border-left-style: solid;
}
@media all and (min-width:760px)
{
.casestudy-body blockquote {
	line-height: 1.5; padding-left: 18px; font-size: 18px; margin-bottom: 36px; margin-left: -21px;
}
}
.casestudy-body strong {
	font-weight: 500;
}
.casestudy-facts strong {
	font-weight: 500;
}
.btn-transparent {
	padding: 0.55em 1em; border-radius: 0.25em; border: 1px solid rgba(255, 255, 255, 0.5); border-image: none; color: rgb(255, 255, 255); line-height: 1.5; font-size: inherit; font-weight: 500; background-image: none; background-color: transparent;
}
.btn-transparent:hover {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-image: none; background-color: rgb(255, 255, 255);
}
.btn-transparent:active {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-image: none; background-color: rgb(255, 255, 255);
}
.btn-theme-blue {
	border-color: rgb(0, 91, 158); padding: 0.55em 1em; color: rgb(255, 255, 255); line-height: 1.5; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: inherit; font-weight: 500; text-shadow: 0px -1px 0px rgba(0,0,0,0.15); background-image: linear-gradient(rgb(0, 136, 235), rgb(0, 106, 184)); background-color: rgb(0, 121, 209);
}
.btn-theme-blue:hover {
	border-color: rgb(0, 77, 133); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(0, 121, 209), rgb(0, 91, 158)); background-color: rgb(0, 106, 184);
}
.btn-theme-blue:active {
	border-color: rgb(0, 91, 158); text-shadow: 0px 1px 0px rgba(0,0,0,0.15); background-image: none; background-color: rgb(0, 91, 158);
}
.btn-theme-blue.disabled {
	text-shadow: none;
}
.btn-theme-orange {
	border-color: rgb(184, 51, 10); padding: 0.55em 1em; color: rgb(255, 255, 255); line-height: 1.5; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: inherit; font-weight: 500; text-shadow: 0px -1px 0px rgba(0,0,0,0.15); background-image: linear-gradient(rgb(242, 78, 28), rgb(208, 57, 12)); background-color: rgb(232, 64, 13);
}
.btn-theme-orange:hover {
	border-color: rgb(160, 44, 9); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(232, 64, 13), rgb(184, 51, 10)); background-color: rgb(208, 57, 12);
}
.btn-theme-orange:active {
	border-color: rgb(184, 51, 10); text-shadow: 0px 1px 0px rgba(0,0,0,0.15); background-image: none; background-color: rgb(184, 51, 10);
}
.btn-theme-orange.disabled {
	text-shadow: none;
}
.btn-theme-purple {
	border-color: rgb(91, 39, 113); padding: 0.55em 1em; color: rgb(255, 255, 255); line-height: 1.5; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: inherit; font-weight: 500; text-shadow: 0px -1px 0px rgba(0,0,0,0.15); background-image: linear-gradient(rgb(137, 59, 170), rgb(107, 45, 132)); background-color: rgb(122, 52, 151);
}
.btn-theme-purple:hover {
	border-color: rgb(76, 32, 94); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(122, 52, 151), rgb(91, 39, 113)); background-color: rgb(107, 45, 132);
}
.btn-theme-purple:active {
	border-color: rgb(91, 39, 113); text-shadow: 0px 1px 0px rgba(0,0,0,0.15); background-image: none; background-color: rgb(91, 39, 113);
}
.btn-theme-purple.disabled {
	text-shadow: none;
}
.btn-theme-blue-purple {
	border-color: rgb(58, 63, 138); padding: 0.55em 1em; color: rgb(255, 255, 255); line-height: 1.5; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: inherit; font-weight: 500; text-shadow: 0px -1px 0px rgba(0,0,0,0.15); background-image: linear-gradient(rgb(88, 94, 185), rgb(65, 72, 156)); background-color: rgb(73, 80, 174);
}
.btn-theme-blue-purple:hover {
	border-color: rgb(50, 55, 120); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(73, 80, 174), rgb(58, 63, 138)); background-color: rgb(65, 72, 156);
}
.btn-theme-blue-purple:active {
	border-color: rgb(58, 63, 138); text-shadow: 0px 1px 0px rgba(0,0,0,0.15); background-image: none; background-color: rgb(58, 63, 138);
}
.btn-theme-blue-purple.disabled {
	text-shadow: none;
}
.btn-theme-green {
	border-color: rgb(85, 165, 50); padding: 0.55em 1em; color: rgb(255, 255, 255); line-height: 1.5; font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-size: inherit; font-weight: 500; text-shadow: 0px -1px 0px rgba(0,0,0,0.15); background-image: linear-gradient(rgb(123, 204, 88), rgb(96, 184, 56)); background-color: rgb(108, 198, 68);
}
.btn-theme-green:hover {
	border-color: rgb(75, 145, 44); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(108, 198, 68), rgb(85, 165, 50)); background-color: rgb(96, 184, 56);
}
.btn-theme-green:active {
	border-color: rgb(85, 165, 50); text-shadow: 0px 1px 0px rgba(0,0,0,0.15); background-image: none; background-color: rgb(85, 165, 50);
}
.btn-theme-green.disabled {
	text-shadow: none;
}
.btn-outline-purple {
	padding: 0.55em 1em; border-radius: 0.25em; color: rgb(122, 52, 151); line-height: 1.5; font-size: inherit; font-weight: 500; background-color: transparent;
}
.btn-outline-purple:hover {
	border-color: rgb(122, 52, 151); color: rgb(255, 255, 255); background-color: rgb(122, 52, 151);
}
.btn-outline-purple:active {
	border-color: rgb(122, 52, 151); color: rgb(255, 255, 255); background-color: rgb(122, 52, 151);
}
.btn-outline-orange {
	padding: 0.55em 1em; border-radius: 0.25em; color: rgb(232, 64, 13); line-height: 1.5; font-size: inherit; font-weight: 500; background-color: transparent;
}
.btn-outline-orange:hover {
	border-color: rgb(232, 64, 13); color: rgb(255, 255, 255); background-color: rgb(232, 64, 13);
}
.btn-outline-orange:active {
	border-color: rgb(232, 64, 13); color: rgb(255, 255, 255); background-color: rgb(232, 64, 13);
}
.btn-jumbotron {
	padding: 0.75em 1.5em; border-radius: 6px; font-size: 16px;
}
@media all and (min-width:760px)
{
.btn-jumbotron {
	font-size: 18px;
}
}
.btn-link {
	font-family: inherit;
}
.site-header {
	padding-top: 20px; padding-bottom: 20px; margin-bottom: -1px; border-bottom-color: rgba(0, 0, 0, 0.075); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 3; box-shadow: 0px 0px 5px rgba(0,0,0,0.1); background-clip: padding-box; background-color: rgb(255, 255, 255);
}
.site-header::before {
	display: table; content: "";
}
.site-header::after {
	clear: both; display: table; content: "";
}
.site-header .header-logo-invertocat {
	margin-right: 0px; margin-left: 0px;
}
@media all and (max-width:959px)
{
.page-responsive .site-header {
	padding-top: 10px; padding-bottom: 10px;
}
}
.site-header .header-search-link {
	display: none !important;
}
@media all and (max-width:959px)
{
.page-responsive .site-header .header-search-link {
	display: inline-block !important;
}
}
.site-header .header-search {
	width: 160px; margin-right: -4px; margin-left: 10px;
}
.site-header .header-search.site-scoped-search {
	width: 230px;
}
@media all and (max-width:959px)
{
.page-responsive .site-header .header-search {
	display: none;
}
}
.site-header .header-search-input {
	min-height: 32px;
}
.site-header.open .site-header-menu {
	display: block;
}
.site-header-toggle {
	display: none;
}
@media all and (max-width:959px)
{
.page-responsive .site-header-toggle {
	color: rgb(118, 118, 118); margin-top: 4px; display: block;
}
.page-responsive .site-header-toggle:hover {
	color: rgb(51, 51, 51);
}
}
.site-header-menu {
	padding-top: 0px; display: block;
}
@media all and (max-width:959px)
{
.page-responsive .site-header-menu {
	padding-top: 15px; clear: left; display: none;
}
}
.site-header-nav .nav-item {
	color: rgb(85, 85, 85); line-height: 20px; padding-top: 8px; padding-bottom: 8px; float: left; display: block;
}
.site-header-nav .nav-item:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
@media all and (max-width:959px)
{
.page-responsive .site-header-nav .nav-item {
	float: none;
}
}
.site-header-nav-main {
	margin-bottom: 0px; margin-left: 5px; float: left;
}
.site-header-nav-main .nav-item {
	padding: 6px 10px 24px; font-size: 16px; margin-bottom: -25px; border-top-color: currentColor; border-bottom-color: transparent; border-top-width: 0px; border-bottom-width: 4px; border-top-style: none; border-bottom-style: solid; float: left;
}
.site-header-nav-main .selected.nav-item-personal {
	color: rgb(0, 121, 209); border-bottom-color: rgb(0, 121, 209);
}
.site-header-nav-main .selected.nav-item-opensource {
	color: rgb(232, 64, 13); border-bottom-color: rgb(232, 64, 13);
}
.site-header-nav-main .selected.nav-item-business {
	color: rgb(122, 52, 151); border-bottom-color: rgb(122, 52, 151);
}
.site-header-nav-main .selected.nav-item-explore {
	color: rgb(85, 165, 50); border-bottom-color: rgb(85, 165, 50);
}
@media all and (max-width:959px)
{
.page-responsive .site-header-nav-main {
	margin-bottom: 24px; margin-left: 0px; float: none;
}
.page-responsive .site-header-nav-main .nav-item {
	padding: 16px 0px; line-height: 1; margin-bottom: 0px; border-top-color: rgb(229, 229, 229); border-bottom-color: transparent; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: none;
}
.page-responsive .site-header-nav-main :last-child.nav-item {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.page-responsive .site-header-nav-main .selected {
	font-weight: 500; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
}
.site-header-nav-secondary {
	margin-top: 0px; margin-right: 10px; float: right;
}
.site-header-nav-secondary .nav-item {
	padding: 6px 8px; font-size: 13px; display: inline-block;
}
@media all and (max-width:959px)
{
.page-responsive .site-header-nav-secondary {
	text-align: center; margin-top: 15px; margin-right: 0px; float: none;
}
}
.site-header-actions {
	text-align: left; margin-top: -1px; margin-bottom: -1px; position: relative; z-index: 3;
}
@media all and (max-width:959px)
{
.page-responsive .site-header-actions {
	margin-top: 24px; display: flex; flex-wrap: wrap; justify-content: center; -webkit-box-pack: center;
}
}
.site-header-actions-btn {
	font-weight: 500; float: right;
}
@media all and (max-width:959px)
{
.page-responsive .site-header-actions-btn {
	margin: 0px; text-align: center; float: none; max-width: 340px; flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1;
}
.page-responsive .site-header-actions-btn + .site-header-actions-btn {
	margin-left: 6px;
}
}
.site-subheader {
	padding-top: 18px; padding-bottom: 18px; border-bottom-color: rgba(0, 0, 0, 0.075); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 2; background-color: rgb(255, 255, 255);
}
.site-subheader::before {
	display: table; content: "";
}
.site-subheader::after {
	clear: both; display: table; content: "";
}
@media all and (min-width:960px)
{
.site-subheader {
	padding-top: 24px; padding-bottom: 24px;
}
}
.site-subpage .site-subheader {
	margin-bottom: -12px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; background-color: transparent;
}
@media all and (min-width:760px)
{
.site-subpage .site-subheader {
	margin-bottom: -48px;
}
}
.site-subheader-business {
	top: 0px; z-index: 21;
}
.site-subheader-business.is-stuck {
	border-bottom-color: rgba(0, 0, 0, 0.075); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 3px 6px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255);
}
.subheader-title {
	text-align: center; font-weight: 400; margin-bottom: 10px; display: block;
}
@media all and (min-width:960px)
{
.subheader-title {
	text-align: left; float: left;
}
}
.subheader-nav {
	text-align: center;
}
@media all and (min-width:960px)
{
.subheader-nav {
	text-align: left; float: right;
}
}
.subheader-nav .nav-item {
	padding-top: 5px; padding-bottom: 1px; font-size: 14px; text-decoration: none; display: inline-block;
}
@media all and (min-width:760px)
{
.subheader-nav .nav-item {
	font-size: 16px;
}
}
@media all and (min-width:960px)
{
.subheader-nav .nav-item {
	padding-top: 0px;
}
}
.subheader-nav .nav-item.selected {
	color: rgb(60, 65, 70); border-bottom-color: rgba(60, 65, 70, 0.15); border-bottom-width: 1px; border-bottom-style: solid;
}
.subheader-nav .nav-item + .nav-item {
	margin-left: 15px;
}
@media all and (min-width:450px)
{
.subheader-nav .nav-item + .nav-item {
	margin-left: 20px;
}
}
.subheader-nav-business .nav-item {
	color: rgb(122, 52, 151); border-bottom-color: rgb(122, 52, 151);
}
.pricing-card {
	border-radius: 6px; border: 1px solid rgb(229, 229, 229); border-image: none; margin-bottom: 20px; box-shadow: 0px 1px 1px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.pricing-card-text {
	padding: 24px; margin-bottom: 0px;
}
@media all and (min-width:760px)
{
.pricing-card-horizontal {
	width: 100%; display: table;
}
}
.pricing-card-horizontal .pricing-card-cta {
	padding: 24px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (min-width:760px)
{
.pricing-card-horizontal .pricing-card-cta {
	width: 25%; vertical-align: middle; border-right-color: rgb(229, 229, 229); border-bottom-color: currentColor; border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: none; display: table-cell;
}
}
@media all and (min-width:760px)
{
.pricing-card-horizontal .pricing-card-text {
	vertical-align: middle; display: table-cell;
}
}
@media all and (min-width:760px)
{
.pricing-card-vertical {
	width: 300px;
}
}
.pricing-card-vertical .pricing-card-cta {
	padding: 24px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.pricing-card-vertical .pricing-card-name {
	padding: 16px 24px; margin-bottom: 0px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.pricing-card-vertical .pricing-card-text {
	padding: 24px;
}
.pricing-cards-eq {
	margin: 0px auto 12px;
}
@media all and (min-width:992px)
{
.pricing-cards-eq {
	margin: 0px -40px 36px; display: table; border-collapse: separate; border-spacing: 40px 0;
}
}
.pricing-card-eq {
	position: relative;
}
@media all and (min-width:760px)
{
.pricing-card-eq {
	margin: 24px auto; width: 65%; padding-bottom: 90px; min-height: 300px; min-width: 320px;
}
.pricing-card-eq .pricing-card-cta {
	left: 0px; width: 100%; bottom: 0px; position: absolute;
}
}
@media all and (min-width:992px)
{
.pricing-card-eq {
	width: 300px; display: table-cell; min-width: 0px;
}
}
.default-currency {
	display: inline-block;
}
.local-currency {
	display: inline-block;
}
.pricing-table {
	width: 100%; border-collapse: separate;
}
.pricing-table td {
	padding: 12px 24px; font-size: 14px; border-right-color: rgb(229, 229, 229); border-bottom-color: rgb(245, 245, 245); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.pricing-table th {
	padding: 12px 24px; font-size: 14px; border-right-color: rgb(229, 229, 229); border-bottom-color: rgb(245, 245, 245); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.pricing-table td {
	text-align: center;
}
.pricing-table td:first-child {
	border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid;
}
.pricing-table thead th {
	width: 35%; color: rgb(60, 65, 70); padding-top: 24px; padding-bottom: 24px; font-weight: 500; border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.pricing-table thead th:first-child {
	width: 30%; text-align: left; border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid; border-top-left-radius: 6px;
}
.pricing-table thead th:last-child {
	border-right-color: rgb(229, 229, 229); border-right-width: 1px; border-right-style: solid; border-top-right-radius: 6px;
}
.pricing-table tbody td:first-child {
	text-align: left; color: rgb(60, 65, 70);
}
.pricing-table tbody th {
	text-align: left; font-weight: 400; border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid; background-color: rgb(245, 245, 245);
}
.pricing-table tfoot td {
	padding-top: 24px; padding-bottom: 24px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.pricing-table tfoot td:first-child {
	border-bottom-left-radius: 6px;
}
.pricing-table tfoot td:last-child {
	border-bottom-right-radius: 6px;
}
.pricing-table-no-foot tr:last-child td {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.pricing-table-no-foot tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}
.pricing-table-no-foot tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}
.pricing-table-legacy {
	margin-bottom: 24px;
}
.pricing-table-legacy thead th {
	width: 10%; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.pricing-table-responsive {
	width: 100%; display: block; -ms-overflow-x: auto; min-height: 0.01%;
}
@media all and (min-width:760px)
{
.pricing-table-responsive {
	display: table;
}
}
.jumbotron {
	background-position: 70% top; text-align: center; padding-top: 50px; padding-bottom: 50px; position: relative; background-size: cover; background-color: rgb(250, 250, 250);
}
@media all and (min-width:450px)
{
.jumbotron {
	padding-top: 60px; padding-bottom: 60px;
}
}
@media all and (min-width:760px)
{
.jumbotron {
	background-position: center; text-align: left; min-height: 400px;
}
}
@media all and (min-width:992px)
{
.jumbotron {
	padding-top: 90px; padding-bottom: 90px;
}
}
@media all and (min-width:1300px)
{
.jumbotron {
	padding-top: 120px; padding-bottom: 120px;
}
}
@media all and (min-width:1900px)
{
.jumbotron {
	padding-top: 180px; padding-bottom: 180px;
}
}
.jumbotron .container-responsive {
	position: relative; z-index: 5;
}
.jumbotron::after {
	transition:background-color 0.2s ease-out; left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.3); -webkit-transition: background-color 0.2s ease-out;
}
.jumbotron.is-expanded::after {
	background-color: rgba(0, 0, 0, 0.55);
}
.jumbotron-inverse {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.jumbotron-inverse .jumbotron-title {
	color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0,0,0,0.25), 0px 1px 30px rgba(0,0,0,0.75);
}
.jumbotron-inverse .jumbotron-lead {
	color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0,0,0,0.25), 0px 1px 30px rgba(0,0,0,0.75);
}
.jumbotron-inverse .jumbotron-followup {
	color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0,0,0,0.25), 0px 1px 30px rgba(0,0,0,0.75);
}
.jumbotron-home {
	background-position: left bottom; background-image: url("/images/modules/site/home-hero-sm.jpg?sn");
}
@media all and (min-width:760px)
{
.jumbotron-home {
	background-position: left bottom; background-image: url("/images/modules/site/home-hero.jpg?sn");
}
}
@media all and (min-width:992px)
{
.jumbotron-home {
	background-position: left bottom;
}
.jumbotron-home .jumbotron-title {
	font-size: 64px;
}
}
@media all and (min-width:1300px)
{
.jumbotron-home .jumbotron-title {
	font-size: 72px;
}
}
.jumbotron-home::after {
	background-color: rgba(0, 0, 0, 0.25);
}
.jumbotron-personal {
	background-position: right; background-image: url("/images/modules/site/personal-hero-sm.jpg?sn");
}
@media all and (min-width:760px)
{
.jumbotron-personal {
	background-position: center 30%; background-image: url("/images/modules/site/personal-hero.jpg?sn");
}
}
.jumbotron-opensource {
	background-image: url("/images/modules/site/open-source-hero-sm.jpg?sn");
}
@media all and (min-width:760px)
{
.jumbotron-opensource {
	background-position: center 10%; background-image: url("/images/modules/site/open-source-hero.jpg?sn");
}
}
.jumbotron-business {
	background-image: url("/images/modules/site/business-hero-sm.jpg?sn");
}
@media all and (min-width:760px)
{
.jumbotron-business {
	background-position: center; background-image: url("/images/modules/site/business-hero.jpg?sn");
}
}
.jumbotron-title {
	margin-bottom: 10px;
}
.jumbotron-lead {
	margin-top: 0px;
}
.jumbotron-title {
	margin-top: 0px;
}
@media all and (min-width:760px)
{
.jumbotron-lead {
	max-width: 530px;
}
.jumbotron-title {
	max-width: 530px;
}
}
@media all and (min-width:992px)
{
.jumbotron-lead {
	max-width: 700px;
}
.jumbotron-title {
	max-width: 700px;
}
}
.jumbotron-has-followup {
	padding-bottom: 90px;
}
@media all and (min-width:760px)
{
.jumbotron-has-followup {
	padding-bottom: 120px;
}
}
@media all and (min-width:992px)
{
.jumbotron-has-followup {
	padding-bottom: 160px;
}
}
@media all and (min-width:1300px)
{
.jumbotron-has-followup {
	padding-bottom: 180px;
}
}
@media all and (min-width:1900px)
{
.jumbotron-has-followup {
	padding-bottom: 230px;
}
}
.jumbotron-followup-container {
	top: -216px; margin-bottom: -37px; position: relative; background-image: none; background-color: transparent;
}
@media all and (min-width:760px)
{
.jumbotron-followup-container {
	top: -226px;
}
}
@media all and (min-width:992px)
{
.jumbotron-followup-container {
	top: -236px;
}
}
@media all and (min-width:992px)
{
.jumbotron-followup-container {
	top: -246px;
}
}
.jumbotron-followup-container .container-responsive {
	position: relative;
}
.jumbotron-followup-container .jumbotron-video {
	display: none;
}
.jumbotron-followup-container .jumbotron-video-close {
	display: none;
}
.jumbotron-followup-container.is-expanded {
	padding: 144px 40px 36px; margin-bottom: -216px; background-image: linear-gradient(rgba(6, 6, 6, 0), rgb(6, 6, 6) 170px);
}
@media all and (min-width:760px)
{
.jumbotron-followup-container.is-expanded {
	margin-bottom: -236px;
}
}
@media all and (min-width:992px)
{
.jumbotron-followup-container.is-expanded {
	padding-right: 0px; padding-left: 0px; margin-bottom: -246px;
}
}
.jumbotron-followup-container.is-expanded .jumbotron-followup {
	display: none;
}
.jumbotron-followup-container.is-expanded .jumbotron-video-close {
	top: 0px; right: -20px; position: absolute;
}
@media all and (min-width:992px)
{
.jumbotron-followup-container.is-expanded .jumbotron-video-close {
	right: 0px;
}
}
.jumbotron-followup-container.is-expanded .jumbotron-video {
	display: block;
}
.jumbotron-followup-container.is-expanded .jumbotron-video-close {
	display: block;
}
.jumbotron-followup-link {
	margin: 0px auto; top: 150px; text-align: left; color: rgb(255, 255, 255); line-height: 1; padding-left: 34px; display: block; white-space: normal; position: relative; z-index: 1;
}
.jumbotron-followup-link:hover {
	text-decoration: none; background-color: transparent;
}
@media all and (min-width:760px)
{
.jumbotron-followup-link:hover::after {
	display: block; background-color: rgba(0, 0, 0, 0.3);
}
}
.jumbotron-followup-link::after {
	padding: 6px 8px; border-radius: 4px; left: -8px; top: -6px; width: 100%; height: 100%; display: none; position: absolute; z-index: -1; content: ""; background-color: transparent;
}
@media all and (min-width:760px)
{
.jumbotron-followup-link {
	margin: 0px; top: 160px; padding-left: 40px; display: block;
}
}
@media all and (min-width:992px)
{
.jumbotron-followup-link {
	top: 150px;
}
}
.jumbotron-followup-link .jumbotron-followup-icon {
	left: -4px; width: 25px; height: 25px; margin-left: -30px; vertical-align: middle; position: relative;
}
@media all and (min-width:760px)
{
.jumbotron-followup-link .jumbotron-followup-icon {
	width: 30px; height: 30px; margin-top: -2px; margin-left: -40px;
}
}
.jumbotron-split-ctas .column {
	max-width: 380px;
}
@media all and (min-width:760px)
{
.jumbotron-split-ctas .column {
	min-width: 300px; max-width: none;
}
}
.featurette {
	padding-top: 50px; padding-bottom: 50px;
}
@media all and (min-width:760px)
{
.featurette {
	padding-top: 60px; padding-bottom: 60px;
}
}
@media all and (min-width:992px)
{
.featurette {
	padding-top: 80px; padding-bottom: 80px;
}
}
.featurette-inverse {
	color: rgba(255, 255, 255, 0.8); background-size: cover; background-color: rgb(13, 22, 35);
}
.featurette-inverse .featurette-heading {
	color: rgb(255, 255, 255);
}
.featurette-inverse .featurette-lead {
	color: inherit;
}
.featurette-single {
	padding-top: 30px;
}
@media all and (min-width:760px)
{
.featurette-single {
	padding-top: 40px;
}
}
@media all and (min-width:992px)
{
.featurette-single {
	padding-top: 60px;
}
}
.featurette-lead {
	margin-top: 0px; margin-bottom: 30px;
}
.featurette-lead strong {
	font-weight: 500;
}
@media all and (min-width:760px)
{
.featurette-lead {
	margin-bottom: 60px; max-width: 760px;
}
}
:target.featurette-jumplink {
	padding-top: 120px;
}
@media all and (min-width:760px)
{
:target.featurette-jumplink {
	padding-top: 96px;
}
}
.featurette-heading {
	text-align: center;
}
.featurette-lead {
	text-align: center;
}
@media all and (min-width:760px)
{
.featurette-heading {
	text-align: inherit;
}
.featurette-lead {
	text-align: inherit;
}
}
.featurette-lead-center {
	text-align: center; margin-right: auto; margin-left: auto; max-width: 600px;
}
@media all and (min-width:992px)
{
.featurette-lead-center {
	max-width: 800px;
}
}
.featurette-hr {
	clear: both; margin-top: 36px; margin-bottom: 36px;
}
@media all and (min-width:760px)
{
.featurette-hr {
	margin-top: 60px; margin-bottom: 60px;
}
}
.triband-hr {
	margin: 40px 0px; border: 0px currentColor; border-image: none; height: 1px; clear: both;
}
.featurette-benefit {
	display: table-row;
}
.featurette-benefit-content {
	padding-bottom: 24px; padding-left: 24px; vertical-align: middle; display: table-cell;
}
@media all and (min-width:760px)
{
.featurette-benefit-content {
	padding-bottom: 36px;
}
}
.featurette-benefit-img {
	width: 50px; padding-top: 4px; vertical-align: top; display: table-cell;
}
@media all and (min-width:760px)
{
.featurette-benefit-img {
	width: 60px;
}
}
@media all and (min-width:760px)
{
.featurette-benefit-sm {
	text-align: center; display: block;
}
.featurette-benefit-sm .featurette-benefit-img {
	margin: 0px auto 6px; display: block;
}
.featurette-benefit-sm .featurette-benefit-content {
	padding: 0px; display: block;
}
}
.featurette-icon {
	width: 100%; height: auto;
}
.featurette-illo {
	padding: 0px 5%;
}
@media all and (min-width:760px)
{
.featurette-illo {
	padding: 0px;
}
}
.featurette-illo-sm {
	padding: 0px 30%;
}
@media all and (min-width:992px)
{
.featurette-illo-sm {
	padding: 0px 48px;
}
}
.org-example-drop-shadow {
	position: relative; z-index: -1; border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}
.tile-block {
	border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
@media all and (min-width:760px)
{
.tile-row {
	margin: 0px auto; overflow: hidden; display: table; max-width: 1330px;
}
}
.tile {
	padding: 6px 24px;
}
@media all and (min-width:760px)
{
.tile {
	vertical-align: top; display: table-cell;
}
}
@media all and (min-width:992px)
{
.tile {
	padding: 24px 36px;
}
}
@media all and (max-width:759px)
{
.tile {
	width: 100%; float: none; display: block;
}
}
@media all and (min-width:760px)
{
.tile.one-fourth {
	width: 50%; float: left;
}
}
@media all and (min-width:992px)
{
.tile.one-fourth {
	width: 25%; border-left-color: currentColor; border-left-width: 0px; border-left-style: none; float: none;
}
}
.tile-bordered {
	padding-top: 24px; padding-bottom: 24px;
}
:not(:last-child).tile-bordered {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (min-width:760px)
{
.tile-bordered {
	border-right-color: transparent; border-right-width: 1px; border-right-style: solid;
}
:not(:last-child).tile-bordered {
	border-right-color: rgb(229, 229, 229); border-bottom-color: currentColor; border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: none;
}
}
.callout-box {
	padding: 30px 0px 24px; border-top-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative;
}
.callout-box .iconlist-item + .iconlist-item {
	margin-top: 20px;
}
.callout-box .display-heading-4 {
	margin-bottom: 5px;
}
.callout-box-icon {
	outline: rgb(255, 255, 255) solid 10px; left: 50%; top: -18px; margin-left: -9px; position: absolute; background-color: rgb(255, 255, 255);
}
@media all and (min-width:760px)
{
.callout-box-icon {
	left: 36px; margin-left: 0px;
}
}
.callout-box-business {
	border-color: rgb(231, 223, 244);
}
.callout-box-business .callout-box-icon {
	color: rgb(167, 147, 178);
}
.callout-box-business .iconlist-item {
	text-align: left; padding-left: 72px;
}
@media all and (min-width:760px)
{
.callout-box-business .iconlist-item {
	padding-left: 36px;
}
}
.callout-box-business .iconlist-item-icon {
	color: rgb(108, 198, 68); margin-left: -30px; float: left;
}
@media all and (min-width:760px)
{
.callout-box-business .iconlist-item-icon {
	margin-top: -4px; margin-left: -30px; float: left;
}
}
@media all and (min-width:760px)
{
.illflow {
	background-position: top; height: 600px; background-image: url("/images/modules/site/illflow_window_ui.png"); background-repeat: no-repeat; background-size: 795px auto;
}
}
@media all and (min-width:760px)
{
.illflow-purple .selected {
	background-color: rgb(247, 241, 249);
}
.illflow-purple .selected::after {
	border-color: transparent transparent rgb(247, 241, 249);
}
.illflow-purple .illflow-item .illflow-item-heading {
	color: rgb(122, 52, 151);
}
}
@media all and (min-width:760px)
{
.illflow-blue .selected {
	background-color: rgb(238, 244, 252);
}
.illflow-blue .selected::after {
	border-color: transparent transparent rgb(238, 244, 252);
}
.illflow-blue .illflow-item .illflow-item-heading {
	color: rgb(0, 121, 209);
}
}
@media all and (min-width:760px)
{
.illflow-steps {
	margin-top: 24px; margin-right: -20px; margin-left: -20px;
}
.illflow-steps::before {
	display: table; content: "";
}
.illflow-steps::after {
	clear: both; display: table; content: "";
}
}
.illflow-step {
	display: none;
}
@media all and (min-width:760px)
{
.illflow-step.active {
	display: block;
}
}
.illflow-item {
	padding: 0px 10%; text-align: center; margin-bottom: 48px; position: relative;
}
.illflow-item::before {
	left: -6%; top: 10%; padding-top: 200%; padding-left: 140%; display: block; position: absolute; z-index: -1; content: ""; background-image: url("/images/modules/site/illflow_window_ui.png"); background-repeat: no-repeat; background-size: 100% auto;
}
@media all and (min-width:760px)
{
.illflow-item::before {
	display: none;
}
}
.illflow-item .illflow-item-heading {
	color: rgb(60, 65, 70); position: relative;
}
@media all and (min-width:760px)
{
.illflow-item {
	padding: 20px; border-radius: 6px; width: 33.33%; margin-bottom: 0px; float: left; cursor: pointer;
}
:not(.selected).illflow-item:hover {
	background-color: rgb(250, 250, 250);
}
.illflow-item.selected .illflow-item-heading {
	color: rgb(51, 51, 51);
}
.illflow-item.selected::after {
	border-width: 15px; border-style: outset solid solid; left: 50%; top: -30px; width: 0px; height: 0px; margin-left: -15px; display: block; position: absolute; content: " "; pointer-events: none;
}
:first-child.illflow-item.selected::after {
	left: 75%;
}
:last-child.illflow-item.selected::after {
	left: 25%;
}
}
.illflow-item-description {
	margin-top: 0px;
}
.illflow-img {
	margin: 0px auto; width: 400px; height: auto; display: block;
}
.iconlist-item {
	padding-left: 30px;
}
.iconlist-item-icon {
	margin-left: -30px; float: left;
}
@media all and (min-width:450px)
{
.home-hero-signup {
	margin: 0px auto; max-width: 340px;
}
}
@media all and (min-width:760px)
{
.home-hero-signup {
	float: right;
}
}
.home-hero-signup .form-label {
	text-align: left; font-size: 16px; font-weight: inherit; margin-bottom: 5px; display: block; text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
.home-hero-signup .form-control-lg {
	border-color: rgba(0, 0, 0, 0.25); padding: 10px; border-radius: 5px; font-size: 16px; min-height: 40px; background-clip: padding-box;
}
.home-hero-signup .btn-block {
	border-color: rgba(0, 0, 0, 0.25); font-family: Roboto, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; background-clip: padding-box;
}
.home-hero-signup .text-white {
	color: rgb(255, 255, 255);
}
.form-control-note {
	color: rgba(255, 255, 255, 0.6); font-size: 12px; margin-top: 5px; margin-bottom: 0px;
}
.form-control-note .notice-highlight {
	color: rgb(255, 255, 255);
}
.casestudy-sm-img {
	background-position: center; border-radius: 4px; width: 100%; height: 168px; margin-bottom: 12px; position: relative; background-size: cover;
}
.casestudy-link:hover {
	text-decoration: none;
}
.casestudy-teaser {
	padding: 24px 20px; height: 280px; overflow: hidden; margin-right: -20px; margin-bottom: 24px; margin-left: -20px; position: relative;
}
.casestudy-teaser > :not(.casestudy-bg) {
	position: relative; z-index: 2;
}
.casestudy-teaser::after {
	left: 0px; top: 0px; width: 100%; height: 70%; position: absolute; z-index: 1; content: ""; background-image: linear-gradient(rgba(0, 0, 0, 0.65), transparent);
}
@media all and (min-width:450px)
{
.casestudy-teaser {
	padding-right: 40px; padding-left: 40px; margin-right: -40px; margin-left: -40px;
}
}
@media all and (min-width:760px)
{
.casestudy-teaser {
	border-radius: 4px; height: 450px; padding-top: 36px; margin-right: -20px; margin-bottom: 36px; margin-left: -20px;
}
.casestudy-teaser:hover .casestudy-bg {
	opacity: 0.7; transform: scale(1.01); -webkit-transform: scale(1.01, 1.01);
}
.casestudy-teaser:hover .btn-transparent {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-image: none; background-color: rgb(255, 255, 255);
}
}
@media all and (min-width:992px)
{
.casestudy-teaser {
	margin-right: -40px; margin-left: -40px;
}
}
.casestudy-teaser-lead {
	margin-bottom: 24px;
}
.casestudy-teaser-title {
	color: rgb(255, 255, 255); text-shadow: 0px 1px 30px rgba(0,0,0,0.6);
}
.casestudy-teaser-lead {
	color: rgb(255, 255, 255); text-shadow: 0px 1px 30px rgba(0,0,0,0.6);
}
@media all and (min-width:760px)
{
.casestudy-teaser-title {
	max-width: 50%;
}
.casestudy-teaser-lead {
	max-width: 50%;
}
}
.casestudy-bg {
	background-position: center; transition:transform 0.25s ease-in-out, opacity 0.15s ease-in-out; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0.9; background-size: cover; -webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 0.15s ease-in-out;
}
.site-breadcrumbs {
	list-style: none;
}
.breadcrumb-item {
	display: inline-block;
}
:not(:last-child).breadcrumb-item {
	margin-right: 4px;
}
:not(:last-child).breadcrumb-item::after {
	color: rgb(204, 204, 204); content: " /";
}
.logo-img {
	margin: 10px; width: auto; height: 25px; vertical-align: middle; display: inline-block; position: relative;
}
@media all and (min-width:760px)
{
.logo-img {
	margin: 10px; width: auto; height: 30px;
}
}
@media all and (min-width:992px)
{
.logo-img {
	margin: 10px 20px; height: 35px;
}
}
.logo-img-greyscale {
	transition:filter 0.2s, opacity 0.2s; opacity: 0.75; transform: translateZ(0px) scale(1); backface-visibility: hidden; -webkit-transition: -webkit-filter 0.2s ease, opacity 0.2s ease, filter 0.2s ease, opacity 0.2s ease; -webkit-transform: translateZ(0) scale(1, 1); -webkit-filter: grayscale(100%); -webkit-backface-visibility: hidden;
}
.logo-img-greyscale:hover {
	opacity: 1; -webkit-filter: grayscale(0%);
}
.logo-img-sm {
	margin: 0px; width: auto; height: 40px;
}
.logo-img-lg {
	margin: 5px 15px; width: auto; height: 35px;
}
@media all and (min-width:760px)
{
.logo-img-lg {
	margin: 10px 15px; width: auto; height: 40px;
}
}
@media all and (min-width:992px)
{
.logo-img-lg {
	margin: 10px 25px; height: 50px;
}
}
.logo-wrap {
	display: inline-block;
}
.tooltipped-logo {
	display: inline-block;
}
.tooltipped-logo.tooltipped-s::after {
	font-size: 14px;
}
.tooltipped-logo.tooltipped-se::after {
	font-size: 14px;
}
.tooltipped-logo.tooltipped-sw::after {
	font-size: 14px;
}
.tooltipped-purple.tooltipped-s::before {
	color: rgb(247, 241, 249); border-bottom-color: rgb(247, 241, 249);
}
.tooltipped-purple.tooltipped-se::before {
	color: rgb(247, 241, 249); border-bottom-color: rgb(247, 241, 249);
}
.tooltipped-purple.tooltipped-sw::before {
	color: rgb(247, 241, 249); border-bottom-color: rgb(247, 241, 249);
}
.tooltipped-purple.tooltipped-s::after {
	background: rgb(247, 241, 249); color: rgb(60, 65, 70);
}
.tooltipped-purple.tooltipped-se::after {
	background: rgb(247, 241, 249); color: rgb(60, 65, 70);
}
.tooltipped-purple.tooltipped-sw::after {
	background: rgb(247, 241, 249); color: rgb(60, 65, 70);
}
@media all and (max-width:759px)
{
.d-none-sm-dn {
	display: none !important;
}
}
@media all and (max-width:759px)
{
.text-center-sm-dn {
	text-align: center !important;
}
}
@media all and (min-width:760px)
{
.d-none-md-up {
	display: none !important;
}
}
@media all and (max-width:991px)
{
.d-none-md-dn {
	display: none !important;
}
}
@media all and (min-width:960px)
{
.d-none-hc-up {
	display: none !important;
}
}
.columns-center {
	text-align: center; vertical-align: bottom;
}
.columns-center .column {
	float: none; display: inline-block;
}
@media all and (min-width:760px)
{
.columns-center .column {
	padding-right: 10px; padding-left: 10px; margin-right: 10px; margin-left: 10px;
}
}
.shade-blue {
	background-color: rgb(238, 244, 252) !important;
}
.shade-purple {
	background-color: rgb(247, 241, 249) !important;
}
.shade-gradient {
	background-image: linear-gradient(180deg, rgb(245, 245, 245), rgb(255, 255, 255)); background-repeat: no-repeat; background-size: 100% 200px;
}
.shade-gray {
	background-color: rgb(245, 245, 245) !important;
}
.shade-white {
	background-color: rgb(255, 255, 255) !important;
}
@media all and (min-width:760px)
{
.bg-bubble {
	background-position: center 5%; background-image: url("/images/modules/site/pricing-bg.png"); background-repeat: no-repeat; background-size: 100% auto;
}
}
@media all and (min-width:992px)
{
.bg-bubble {
	background-position: center 20px; background-size: auto auto;
}
}
.text-purple {
	color: rgb(122, 52, 151) !important;
}
.text-blue-purple {
	color: rgb(73, 80, 174) !important;
}
.text-blue {
	color: rgb(0, 121, 209) !important;
}
.text-orange {
	color: rgb(232, 64, 13) !important;
}
.text-black {
	color: rgb(60, 65, 70) !important;
}
.text-bold {
	font-weight: 500 !important;
}
.text-thin {
	font-weight: 300 !important;
}
.v-align-top {
	vertical-align: top !important;
}
.octicon-middle .octicon {
	vertical-align: middle;
}
.border-behind {
	position: relative;
}
.border-behind::before {
	left: 50%; top: 50%; width: 100%; height: 1px; margin-top: -1px; margin-left: -50%; position: absolute; z-index: -1; content: ""; background-color: rgb(229, 229, 229);
}
@media all and (min-width:760px)
{
.border-behind::before {
	width: 500px; margin-left: -250px;
}
}
.sr-only {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.site-footer-container {
	width: auto; padding-right: 20px; padding-left: 20px; margin-right: auto; margin-left: auto; max-width: 1020px;
}
@media all and (max-width:900px)
{
.site-footer-mark {
	display: none;
}
.site-footer-links {
	text-align: center; margin-bottom: 10px; float: none;
}
}
.server-stats .container {
	width: auto; padding-right: 20px; padding-left: 20px; margin-right: auto; margin-left: auto; max-width: 1020px;
}
