<extend name="$layout_admin"/>

<block name="right-content">
        <!-- 多标签后台内容部分 -->
        <div class="tab-content ct-tab-content">
            <!-- 首页 -->
            <div role="tabpanel" class="fade in active" id="home">
                <div class="dashboard clearfix">
                    <div class="col-xs-12 col-sm-6 col-lg-4 ct-update">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="update pull-right"></div>
                                <i class="fa fa-cog"></i> 系统信息
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed text-overflow">
                                    <tbody>
                                    <tr>
                                        <td>ThinkPHP版本</td>
                                        <td>{$Think.VERSION}</td>
                                    </tr>
                                    <tr>
                                        <td>服务器操作系统</td>
                                        <td>{$Think.const.PHP_OS}</td>
                                    </tr>
                                    <tr>
                                        <td>运行环境</td>
                                        <td>
                                            <?php
                                           $server_software = explode(' ', $_SERVER['SERVER_SOFTWARE']);
                                           echo $server_software[0];
                                       ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PHP版本</td>
                                        <td><?php echo PHP_VERSION; ?></td>
                                    </tr>
                                    <tr>
                                        <td>MYSQL版本</td>
                                        <td><php>$system_info_mysql = M()->query("select version() as v;");</php>{$system_info_mysql.0.v}</td>
                                    </tr>
                                    <tr>
                                        <td>上传限制</td>
                                        <td>{:ini_get('upload_max_filesize')}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-actions"></div>
                                <i class="fa fa-th-list"></i> 产品团队
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr>
                                        <td>核心团队</td>
                                        <td>江如意、赵瀚卿...</td>
                                    </tr>
                                    <tr>
                                        <td>联系我们</td>
                                        <td>
                                            service@corethink.cn
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
