<extend name="$layout_admin"/>

<block name="right-content">
<div class="columns">
    <div class="single-column">

        <div class="boxed-group flush">
            <h3>产品团队</h3>
            <ul class="boxed-group-inner mini-repo-list">
                <li class="public source">
                    <table class="capped-list">
                        <tbody>
                        <tr>
                            <td>ThinkPHP版本</td>
                            <td>{$Think.VERSION}</td>
                        </tr>
                        <tr>
                            <td>服务器操作系统</td>
                            <td>{$Think.const.PHP_OS}</td>
                        </tr>
                        <tr>
                            <td>运行环境</td>
                            <td>
                                <?php
                               $server_software = explode(' ', $_SERVER['SERVER_SOFTWARE']);
                               echo $server_software[0];
                           ?>
                            </td>
                        </tr>
                        <tr>
                            <td>PHP版本</td>
                            <td><?php echo PHP_VERSION; ?></td>
                        </tr>
                        <tr>
                            <td>MYSQL版本</td>
                            <td><php>$system_info_mysql = M()->query("select version() as v;");</php>{$system_info_mysql.0.v}</td>
                        </tr>
                        <tr>
                            <td>上传限制</td>
                            <td>{:ini_get('upload_max_filesize')}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>

        <div class="boxed-group flush">
            <h3>产品团队</h3>
            <ul class="boxed-group-inner mini-repo-list">
                <li class="public source">
                    <table class="capped-list">
                        <tbody>
                        <tr>
                            <td>核心团队</td>
                            <td>江如意、赵瀚卿...</td>
                        </tr>
                        <tr>
                            <td>联系我们</td>
                            <td>
                                service@corethink.cn
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>

    </div>
</div>
</block>
