<!DOCTYPE html>
<html lang="en" class=" is-copy-enabled">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <meta content="origin" name="referrer" />
    <link rel="stylesheet" href="{$Think.config.__HOME_CSS__}/frameworks.css" type="text/css"/>
    <link rel="stylesheet" href="{$Think.config.__HOME_CSS__}/github.css" type="text/css"/>
    <link rel="stylesheet" href="{$Think.config.__HOME_CSS__}/site.css" type="text/css"/>
    <title>Sign in to GitHub · GitHub</title>
</head>

<body class="logged-out   env-production windows  session-authentication">
    <div class="header header-logged-out" role="banner">
        <div class="container clearfix">
            <a class="header-logo" href="https://github.com/" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
            </a>
        </div>
    </div>

    <div role="main" class="main-content">
    <div id="js-pjax-container" data-pjax-container>
        <div class="auth-form " id="login">
            <form accept-charset="UTF-8" action="/login" method="post">
                <div class="auth-form-header">
                    <h1>登录审核系统</h1>
                </div>
            <div id="js-flash-container">
            </div>
            <div class="auth-form-body">
                <label for="login_field">
                    用户名或学号
                </label>
                <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block" id="login_field" name="login" tabindex="1" type="text" />
                <label for="password">
                    密码 <a href="/password_reset" class="label-link">忘记密码?</a>
                </label>
                <input class="form-control form-control input-block" id="password" name="user_password" tabindex="2" type="password" />
                <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="登 录" />
            </div>
        </form>
            <p class="create-account-callout mt-3">
                新来的？
                <a href="/register" data-ga-click="Sign in, switch to sign up">创建一个账户</a>.
            </p>
        </div>
    </div>
    <div class="modal-backdrop"></div>
</div>

    <div class="container">
    <div class="site-footer" role="contentinfo">
        <ul class="site-footer-links">
            <li><a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="https://github.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
            <li><a href="https://github.com/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
            <li><a href="https://github.com/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
        </ul>
    </div>
</div>
</body>
</html>

