<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>
<style type="text/css">
    *{ padding: 0; margin: 0; }
    div{ padding: 4px 48px;}
    body{ background: #fff; font-family: "微软雅黑"; color: #333;font-size:24px}
    h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; }
    p{ line-height: 1.8em; font-size: 36px } a,a:hover{color:blue;}
</style>
<div style="padding: 24px 48px;">
    <h1>:)</h1>
    <p>欢迎使用 <b>ThinkPHP</b>！</p>
    <br/>版本 V{$Think.version}
    <br/>本文件来自 {$Think.HOME_VIEW_PATH}
    <br/>THIS FILE FROM <?php echo(__dir__); php?>
    <br/>读取配置文件： <?php echo($where_is); php?>
    <br/>来自URL的姓名 <?php echo($name); php?>

</div>
<script type="text/javascript" src="http://ad.topthink.com/Public/static/client.js"></script>
<thinkad id="ad_55e75dfae343f5a1"></thinkad>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9347272" charset="UTF-8"></script>
</body>
</html>