<extend name="$layout_admin"/>

<block name="right-content">
        <div class="boxed-group">
            <h3>编辑项目</h3>
            <div class="boxed-group-inner clearfix">
                <form accept-charset="UTF-8" action="{:U('Application/edit')}" class="columns js-uploadable-container js-upload-avatar-image is-default" method="post">
                    <input type="hidden" name="item_id" value="{$item_info.apply_id}"/>
                    <div class="column two-thirds">
                        <dl class="form-group">
                            <dt><label for="user_profile_name">项目名称</label></dt>
                            <dd><input class="form-control" id="user_profile_name" name="item_name" size="30" type="text" value="{$item_info.item_name}" /></dd>
                        </dl>
                        <dl class="form-group">
                            <dt><label for="h1">申请人姓名</label></dt>
                            <dd><input class="form-control" id="h1" name="user_name" size="30" type="text" value="{$item_info.user_name}" /></dd>
                        </dl>
                        <dl class="form-group">
                            <dt><label for="h2">申请人学号</label></dt>
                            <dd><input class="form-control" id="h2" name="student_id" size="30" type="text" value="{$item_info.student_id}" /></dd>
                        </dl>
                        <dl class="form-group">
                            <dt><label for="h2">申请人学院</label></dt>
                            <dd><input class="form-control" id="h2" name="academy" size="30" type="text" value="{$item_info.academy}" /></dd>
                        </dl>
                        <dl class="form-group">
                            <dt><label for="h3">申请人班级</label></dt>
                            <dd><input class="form-control" id="h3" name="iclass" size="30" type="text" value="{$item_info.iclass}" /></dd>
                        </dl>
                        <dl class="form-group">
                            <dt><label for="h5">联系手机</label></dt>
                            <dd><input class="form-control" id="h5" name="phone" size="30" type="text" value="{$item_info.phone}" /></dd>
                        </dl>
                        <p><button type="submit" class="btn btn-primary">确认 更改</button></p>
                    </div>
                </form>
                <p class="note">
                    We store your personal data in the Anhui University of Technology only.
                </p>
            </div>
        </div>
</block>