<extend name="$layout_admin"/>

<block name="right-content">
    <table class="table table-bordered table-striped table-hover">
        <thead><tr><th>#</th><th>编号</th><th>项目名</th><th>项目类型</th><th>申请人</th><th>申请时间</th><th>是否通过</th></tr></thead>
        <tbody>
        <volist name="lists" id="vo" key="k">
            <tr class="js-navigation-item">
                <td class="content"><span class="css-truncate css-truncate-target">{$k}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$vo.item_id}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$vo.item_name}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$vo.user_name}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$vo.add_time}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$vo.item_status}</span></td>
            </tr>
        </volist>
        </tbody>
    </table>

    <notempty name="page">
        <ul class="pagination">{$page}</ul>
    </notempty>
</block>