<extend name="$layout_admin"/>

<block name="right-content">

<div class="boxed-group">
    <h3>选择导出信息</h3>
    <div class="boxed-group-inner mini-repo-list">
        <form enctype="multipart/form-data" accept-charset="UTF-8" action="{:U('Application/print_view')}" class="columns js-uploadable-container js-upload-avatar-image is-default" method="post">
            <div class="column two-thirds">
                <dl class="form-group">
                    <dt><label for="user_profile_name">项目名称</label></dt>
                    <dd><input class="form-control" style="opacity: 0.5;" disabled="disabled" id="user_profile_name" name="item_name" size="30" type="text" value="{$item_info.item_name}" /></dd>
                </dl>
                <p><button type="submit" class="btn btn-primary">确定 导出</button></p>
            </div>
        </form>
        <p class="note">
            We store your personal data in the Anhui University of Technology only.
        </p>
    </div>
</div>


</block>
