<extend name="$layout_admin"/>

<block name="right-content">
    <div class="columns">
        <div class="single-column">
            <div class="boxed-group flush">
                <h3>项目审核</h3>
                <ul class="boxed-group-inner mini-repo-list">
                    <li class="public source">
                <div class="boxed-group-inner clearfix">
                <div class="column">
                    <dl class="form-group">
                        <dt><label>项目名称</label></dt>
                        <dd>{$item_info.item_name}</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>申请人姓名</label></dt>
                        <dd>{$user_info.user_name}</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>申请人学号</label></dt>
                        <dd>{$user_info.student_id}</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>申请人学院</label></dt>
                        <dd>{$user_info.academy}</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>申请人班级</label></dt>
                        <dd>{$user_info.iclass}</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>联系手机</label></dt>
                        <dd>{$user_info.phone}</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>参与小组人数</label></dt>
                        <dd>{$apply_info.igroup}人组</dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>项目等级</label></dt>
                        <dd><switch name="apply_info.grade">
                            <case value="1">优秀</case>
                            <case value="2">良好</case>
                            <case value="3">通过</case>
                            <case value="4">不通过</case>
                            <default />未知
                        </switch>
                        </dd>
                    </dl>
                    <dl class="form-group">
                        <dt><label>项目性质</label></dt>
                        <dd><switch name="apply_info.item_type">
                            <case value="0">一般课题项目</case>
                            <case value="1">重点课题项目</case>
                            <default />未知
                        </switch></dd>
                    </dl>
                    <dl class="form-group">
                        <dt>《安徽工业大学SRTP项目结题验收表》</dt>
                        <dd><img style="max-width:650px;" src="__ROOT__/uploads/{$apply_info.upload_file}"/></dd>
                        <dd><a href="__ROOT__/uploads/{$apply_info.upload_file}">下载（不是图片）</a></dd>
                    </dl>
                    <dl class="form-group">
                        <dt>其他文件1</dt>
                        <dd><img style="max-width:650px;" src="__ROOT__/uploads/{$apply_info.upload_file_0}"/></dd>
                        <dd><a href="__ROOT__/uploads/{$apply_info.upload_file_0}">下载（不是图片）</a></dd>
                    </dl>
                    <dl class="form-group">
                        <dt>其他文件2</dt>
                        <dd><img style="max-width:650px;" src="__ROOT__/uploads/{$apply_info.upload_file_1}"/></dd>
                        <dd><a href="__ROOT__/uploads/{$apply_info.upload_file_1}">下载（不是图片）</a></dd>
                    </dl>
                    <dl class="form-group">
                        <dt>其他文件3</dt>
                        <dd><img style="max-width:650px;" src="__ROOT__/uploads/{$apply_info.upload_file_2}"/></dd>
                        <dd><a href="__ROOT__/uploads/{$apply_info.upload_file_2}">下载（不是图片）</a></dd>
                    </dl>
                    <dl class="form-group">
                        <dt>其他文件4</dt>
                        <dd><img style="max-width:650px;" src="__ROOT__/uploads/{$apply_info.upload_file_3}"/></dd>
                        <dd><a href="__ROOT__/uploads/{$apply_info.upload_file_3}">下载（不是图片）</a></dd>
                    </dl>
                    <p><a href="{:U('Credits/verified',array('apply_id'=>$item_info['apply_id']),'')}"><button class="btn">审核 通过</button></a>
                        <a href=""><button class="btn">不通过</button> </a>
                        <a href=""><button class="btn">弄虚作假</button></a>
                        <a href=""><button class="btn">返回</button></a>
                    </p>
                    <p class="note">
                        We store your personal data in the Anhui University of Technology only.
                    </p>
                </div>

        </div>
    </li>
                    </ul>
                </div>
            </div>
    </div>
</block>